@import '../../styles/normalize.css';
@import '../../styles/components.css';
@import './menu.css';
@import '../../styles/works.css';
@import './footer.css';

hr {
    margin-block: 1.375rem;
}

@media screen and (min-width: 768px) {
    .card_project:nth-child(8) {
        display: flex;
    }
    .card_project:nth-child(8) .img_project {
        order: 2;
        padding-inline-start: 1.125rem;
    }
    .card_project:nth-child(8) .description_project {
        text-align: end;
    }
}


