.wrapper_header {
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  padding-inline-start: 1.25rem;
    /* margin-block-start: 1.25rem;  */
}
.button-menu,
.button-close {
  background: none;
  border: none;
  cursor: pointer;
}
.header_nav {
  /* background: blue; */
  padding-inline-end: 1.25rem;
    display: flex;
    justify-content: space-between;
}
.menu {
  background: greenyellow;
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.menu li {
  padding: 0;
  align-self: center;
}
.menu button {
  align-self: flex-start;
}
.open-menu:focus:not(:focus-visible),
.close-menu:focus:not(:focus-visible) {
  outline: none;
}
.menu_opened {
  opacity: 1;
  pointer-events: all;
}
/*

@media screen and (min-width: 768px) {
    .wrapper_header {
        margin-inline: 3.75rem;
        margin-block-start: 1.688rem;
    }
    .header {
        justify-content: space-between;
        align-items: center;
    }
    .header .button--style {
        display: block;
    }
    .header ul {
        font: var(--button-text);
        display: flex;
        gap: 2.063rem;
    }
    .header ul li a:link {
        color: var(--black);
    }
    .header ul li a:visited {
        color: var(--black);
    }
    .header ul li a:hover {
        color: var(--primary-color);
    }
    .icon-menu {
        display: none;
    }
} */