.wrapper_header {
  /* background: red; */
  margin-inline: 1.25rem;
}
.header_nav {
  /* background: blue; */
  display: flex;
  justify-content: space-between;
}
.menu {
  margin-block-start: 0;
  background: var(--blue-light);
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  overflow-y: auto;
}
.list {
  /* background: yellow; */
  position: fixed;
  top: 15%;
  left: 38%;
  text-align: center;
}
.list li {
  padding: 0;
}
.list li a {
  font: var(--headline-3);
  color: var(--black);
  line-height: 5.625rem;
}
.list li a:hover {
  color: var(--primary-color);
}
.menu button {
  margin-block-start: 10px;
  position: fixed;
  top: 0;
  left: 0;
  align-self: flex-start;
}
.button-menu,
.button-close {
  background: none;
  border: none;
  cursor: pointer;
}
.open-menu:focus:not(:focus-visible),
.close-menu:focus:not(:focus-visible) {
  outline: none;
}
.menu_opened {
  opacity: 1;
  pointer-events: all;
}
.social {
  /* background: purple; */
  position: fixed;
  top: 90%;
  left: 49%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}


@media screen and (min-width: 768px) {
    .wrapper_header {
      margin-inline: 3.75rem;
      margin-block-start: 1.688rem;
    }
    .menu {
      top: 0;
      left: 0;
      background: none;
      z-index: -1;
      block-size: 10%;
      opacity: 1;
      pointer-events: all;
    }
    .list {
      position: absolute;
      top: 20px;
      /* background: palevioletred; */
      display: flex;
      gap: 2.063rem;
    }
    .list li a{
      background: red;
      font: var(--button-text);
      cursor: pointer;
    }
    .social{
      position: absolute;
      top: 20px;
      left: 83.30%;
      /* background: red; */
    }
    .button-menu,
    .button-close {
      display: none;
    }
}