@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
@import './normalize.css';
@import './header.css';
@import './button.css';
@import './main.css';
@import './resume.css';
@import './recent-post.css';
@import './works.css';
@import './footer.css';
@import './components.css';

body {
    background: var(--white);
    font: var(--body-font);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}